:root {
    --textc: rgb(253, 255, 253);
    --alttext:rgb(253, 253, 253);
    --bgcolor:rgb(161, 161, 161);
    --header: rgb(0, 171, 134);
    --navbar: rgb(33, 121, 143);
    --body: rgb(255, 255, 255);
    --footer: rgb(64, 64, 64);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    height: 100%;
}

/* Header background colour and text within header colour */
.header {
    padding: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: var(--header);
    color: var(--textc);
    display: block;
}

/* Domenico Barberi Header Text Size */
.header h1 {
    display: inline-block;
    font-size: 40px;
    text-decoration: none;
}

/* Positioning Of Header Navigation Text */
.header div {
    padding-top: 10px;
    margin-left: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* The list type for the header content */
.header div ul {
    list-style-type: none;
}

/* Header list content positioning */
.header div ul li {
    display:inline-block;
    margin-left: 0px;
}

/* Header Link Text Colour */
a {
    color: var(--alttext);
    text-decoration:underline;
}

/* Office Stock Image Attributes */
.header-img {
    height: 150px;
    width: 100%;
    margin-bottom: 5px;
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: center;
}

.header-img h2 {
    float: right;
    color: var(--textc);
    background-color: var(--footer);
}

/* Main content BG formatting, colour, font family, padding/margin */
.main-content {
    margin: 0px;
    padding: 15px;
    clear: both;
    float: right;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--body);
}

/* Main Content Header Text Settings */
.main-content h2 {
    font-size: 25px;
}

/* Main Content Paragraph Formatting */
.main-content p {
    float: right;
}

/* Main Content Panel Formatting */
.about-me, .work, .contact-me, .resume {
    margin-bottom: 10px;
    padding: 35px;
    height: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--bgcolor);
    color: var(--textc);
    box-shadow:  5px 5px 5px rgb(53, 53, 53);
    border-radius: 15px;
    
    
}

body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
}

/* Footer SubHeader Font Size */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: var(--textc);
    background-color: var(--footer);
}

/* Footer Content Font Size */
.footer h2 {
    font-size: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
  }

  @media screen and (max-width:405px) {
    .header h1 {
        font-size: 35px;
    }
}

@media screen and (max-width:364px) {
    .header h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:321px) {
    .header h1 {
        font-size: 25px;
    }
}

  @media screen and (max-width:405px) {
    .header div ul li {
        font-size: 15px;
    }
}

@media screen and (max-width:326px) {
    .header div ul li {
        font-size: 14px;
    }
}

@media screen and (max-width:309px) {
    .header div ul li {
        font-size: 10px;
    }
}
