:root {
    --header: rgb(56, 54, 54);
    --body: rgb(192, 192, 192);
    --textc: rgb(255, 253, 253);
    --darktext:rgb(0, 0, 0);
    --bgcolor:rgb(2, 113, 141);
    --altcolour: rgb(255, 255, 255);  
    --footer: rgb(37, 37, 37);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
  }

/* Domenico Barberi Header Text Size */
.header h1 {
    display: inline-block;
    font-size: 40px;
    padding: 2px 2% 2px 2%;
    background-color: var(--bgcolor);
}

/* Header background colour and text within header colour */
.header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: var(--header);
    color: var(--textc);
}

/* Positioning Of Header Navigation Text */
.header div {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2px 2% 12px 2%;
    font-size: 20px;
}

/* The list type for the header content */
.header ul {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    padding-top: 10px;
}

.header li {
    flex-wrap: wrap;
}

/* Hover over header links modifiers */
.header li:hover {
    background-color: rgba(2, 113, 141, 0.8);
  }
  
/* Header Link Text Colour */
a {
    color: var(--textc);
    text-decoration:underline;
}

/* Header image portrait */
#portrait {
    block-size: 145px;
    margin-top: 15px;
    margin-left: 5px;
    flex-wrap: wrap;
    justify-content: baseline;
    border-radius: 20% / 40%;
    box-shadow: 6px 6px 25px rgb(2, 113, 141);
}

/* Header Image Attributes */
.header-img {
    height: 175px;
    width: 100%;
    margin-bottom: 0px;
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: center;
}

/* Header Image Text */
.header-img h2 {
    margin: 28px 0px 0px 0px;
    padding: 5px;
    font-size: 20px;
    float: right;
    color: var(--textc);
    background-color: var(--bgcolor);
    height: 30px;
    width: 245px;
}

#projects {
    max-height: 500px;
}

/* Main content BG formatting, colour, font family, padding/margin */
.portfolio {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    clear: both;
    float: right;
    width: 100%;
    min-height: 80vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--body);
}

/* Dictates body min height and line height along with font */
.body {
    height: 100vh;
    line-height: 1;
}

/* projects section formatting */
.content {
    margin: 25px 0;
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
}

/* Main Content Header Text Settings */
.content h2 {
    font-size: 25px;
}

/* Main Content Paragraph Formatting */
.content p {
    max-width: 80%;
    font-size: 20px;
}

/* Reactive code for contact section content */
.content nav li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    max-width: 100%;
    width: 275px;
}

/* Font size/colour of section titles */
.content a {
    color: var(--darktext);
    font-size: 20px;
}

/* Font size/colour of contact list items */
#contact-me a {
    color: var(--bgcolor);
    font-size: 21px;
}

/* Additional Reactive code for contact section content (needed two sections for desired results) */
#contact-me ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Contact section hover functionality */
#contact-me a:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

/* Flex container perameters */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 400px;
}
  
/* Flex items perameters (Projects flex parameters) */
.flex-item {
    display: flex;
    align-items: flex-end;
    background-color: var(--footer);
    color: var(--textc);
    border: 3px dashed var(--bgcolor);
    min-width: 200px;
    min-height: 133.3px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 2px;
    background-blend-mode: soft-light;
    background-size: 100%;
    transition: all 0.2s;
    font-size: 15px;
}

/* First portfolio project is largest sized */
.flex-item:first-child {
    min-width: 200px;
    max-width: 650px;
    min-height: 300px;
    flex-basis: 100%;
}

/* Flex items hover functionality */
.flex-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Projects Header/Subheader background colour */
.flex-item div {
    background-color: var(--bgcolor); 
    padding: 8px 10px;
}

/* Project item headers font size */
.flex-item h3 {
    font-size: 16px;
}

/* Project items subheader font size */
.flex-item span {
    font-size: 14px;
}

/* Portfolio project images Placeholder1 - Placeholder4 */
.ph2 {
    background-image: url("../img/weather.png");
}
  
.ph4 {
    background-image: url("../img/password.png");
}
  
.ph1 {
    background-image: url("../img/poke.png");
}
  
.ph3 {
    background-image: url("../img/work.png");
}

/* Footer SubHeader Font Size */
.footer {
    min-height: 150px;
    padding: 70px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: var(--textc);
    background-color: var(--footer);
}

/* Footer Content Font Size */
.footer h2 {
    font-size: 20px;
}

/* !Display reactivity code! */
/* @900px centering MAIN header text along with nav bar text */
@media screen and (max-width: 900px) {
    .header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
        }    
    
    .header h1 {
        font-size: 45px;
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        }
        
    .header div {
        font-size: 30px;
        max-width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        }
}

/* Additional header alterations */
@media screen and (max-width: 345px) {
    .header div {
        font-size: 30px;
    }
}

@media screen and (max-width: 230px) {
    .header h1 {
        font-size: 30px;
    }

    .header div {
        font-size: 25px;
    }
}

/* Flex item reactivity/sizing */
@media screen and (max-width: 511px) {
    .flex-item {
        min-width: 150px;
        min-height: 100px;
    }

    .flex-item div {
        padding: 4px 5px;
    }

    .flex-item h3 {
        font-size: 12px;
    }

    .flex-item span {
        font-size: 10px;
    }
}

@media screen and (max-width: 207px) {
    .flex-item {
        min-width: 100px;
        min-height: 66.6px;
    }

    .flex-item div {
        padding: 2px 2.5px;
    }

    .flex-item h3 {
        font-size: 10px;
    }

    .flex-item span {
        font-size: 8px;
    }
}

/* Contact section font changes for smaller screen compatibility */
@media screen and (max-width: 365px) {
    #contact-me a {
        font-size: 15px;
    }
}

@media screen and (max-width: 365px) {
    #contact-me a {
        font-size: 12px;
    }

    .content nav li {
        width: 150px;
    }
}

@media screen and (max-width: 450px) {
    #portrait {
        block-size: 120px;
    }

    .header-img {
        height: 130px;
    }
}

/* flex box config for reactivity */
@media screen and (max-width: 712px) {
    .flex-item:first-child {
        min-width: 350;
        max-width: 400px;
        min-height: 200px;
        max-height: 200px;
    }
}

@media screen and (max-width: 578px) {
    .flex-item:first-child {
        min-width: 300px;
        max-width: 320px;
        min-height: 200px;
    }

    .flex-item {
        min-width: 150px;
        min-height: 100px;
    }
}

/* small screen adjustment of main project sizing */
@media screen and (max-width: 408px) {
    .flex-item:first-child {
        min-width: 220px;
        max-width: 220px;
        min-height: 146.6px;
        max-height: 146.6px;
    }
}

@media screen and (max-width: 358px) {
    .flex-item:first-child {
        min-width: 200px;
        max-width: 200px;
        min-height: 133.3px;
        max-height: 133.3px;
    }
}